@import "header.css";
@import "tube.css";

@import "gameScreen.css";
@import "levelsScreen.css";

* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen,
:not(:root):fullscreen::backdrop {
    background-color: rgba(255, 255, 255, 0);
}


body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    background: url(../assets/bg-white.png);
    /*background-color: #616161;*/
    /*background-blend-mode: soft-light;*/
}


.linkBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.linkBtn:hover,
.linkBtn:focus {
    outline: none;
}

.d-none {
    display: none;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
    height: calc(100vh - 55px);

}


/* Interface */
.btn {
    cursor: pointer;
    text-decoration: none;
    display: block;
}

/* screens */
.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.screen.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.screen h1 {
    color: white;
    font-size: calc(16px + 8vw);
    margin: 0 0 15vh 0;
    text-shadow: calc(2px + 0.5vw) calc(2px + 0.2vw) rgba(0, 0, 0, 0.7);
}

.screen .backBtn {
    font-size: calc(12px + 2vw);
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: white;
    background: seagreen;
    border-radius: 50px;
    padding: 2% 3%;
    text-transform: uppercase;
    text-shadow: calc(2px + 0.2vw) calc(1px + 0.1vw) rgb(0 0 0 / 70%);
    border: calc(1px + 0.4vw) white solid;
    margin: 3vw;
}

.nextLevelBtn {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: white;
    background: seagreen;
    border-radius: 20px;
    padding: 2% 3%;
    text-transform: uppercase;
    text-shadow: 0.3vw 0.07vw rgba(0, 0, 0, 0.7);
    border: 0.4vw white solid;
}