.screen.levelsScreen h1 {
    margin: 3vw 0 5vw;
}

.levelsScreen .levelsBtnsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3vw 5vw;

    overflow-y: scroll;
}

.levelsScreen .levelNumberBtn {
    width: clamp(40px, 6vw, 120px);
    height: clamp(40px, 6vw, 120px);
    margin:  clamp(6px, 1.5vw, 30px);
    line-height: clamp(40px, 6vw, 120px);
    font-size: clamp(24px, 4vw, 80px);
    border-radius: 1vw;
    text-align: center;
    background: gold;
    box-shadow: 0 3px 11px 2px #000000ba;
    color: #462208;
    cursor: pointer;
}

.levelsScreen .threeDigits {
    font-size: 3vw;
}

.disabledLevel {
    opacity: 0.5;
}